################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs
/ConsoleApp1/bin/Debug/net7.0
/ConsoleApp1/obj
/ShapePropertyCalculator/ShapePropertyCalculator.sln
/ShapePropertyCalculator/ShapePropertyCalculator.csproj
/ShapePropertyCalculator/obj
/ShapePropertyCalculator/.vs/ShapePropertyCalculator
