################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs
/ConsoleApp1/bin/Debug/net7.0
/ConsoleApp1/obj
/ShapePropertyCalculator/ShapePropertyCalculator.sln
/ShapePropertyCalculator/ShapePropertyCalculator.csproj
/ShapePropertyCalculator/obj
/ShapePropertyCalculator/.vs/ShapePropertyCalculator
/.gitignore
/BinHexDecConverter/obj
/BinHexDecConverter/BinHexDecConverter.sln
/BinHexDecConverter/bin/Debug/net7.0
/BinHexDecConverter/.vs
/ShapePropertyCalculator/.vs/ProjectEvaluation
*.csproj
/ShapePropertyCalculator/bin/Debug/net7.0
/ShapePrinter/ShapePrinter.sln
/ShapePrinter/obj
/ShapePrinter/.vs
